.quote {
    width: fit-content;

    h3 {
        border: 1px solid $gray;
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    p {
        border: 1px solid $gray;
        width: fit-content;
    }
}